body{
    background-color: #ebecec;
}
.boxsection {
    background-color: #fff;
    border-radius: 8px;
}
.flightlist_item:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
.flightlist .fdetails_inner{
    padding: 26px 28px;
}
.flightlist  .viewfare {
    font-size: 12px;
    text-transform: capitalize;
    display: block;
    margin-left: auto;
    padding: 2px 10px;
    color: #f00;
}
.flightlist  .cancelfee{
    padding: 2px 10px;
    font-size: 9px;
    border: 1px solid;
    color: #000000;
    background: #c3e8f8;
    border-color: #62a4d6;
}
.flightlist_item  .journeydetail .time_place{
    max-width: 26%;
    width: 100%;
}
.flightlist_item  .journeydetail .hours{
    width: 31%;
    text-align: center;
    padding-top: 10px;
    position: relative;
    height: 68px;
}
.flightlist_item  .journeydetail .jplace_text{
    font-size: 10px;
    line-height: 11px;
    font-weight: 300;
    padding-top: 3px;
    opacity: .7;
}
.flightlist_item  .journeydetail .hours_border{
    /* border-bottom: 1px dashed #f55a29; */
    margin-bottom: 3px;
}
.flightlist_item .journeydetail .hours_border::before {
    content: '';
    width: 70%;
    height: 1px;
    border-bottom: 1px dashed #f00;
    position: absolute;
    top: calc(50% + 3px);
    /* top: 23px; */
    transform: translate(-50%, -50%);
    left: 50%;
}
.flightlist_item  .journeydetail .hours_border::after{
    content: '';
    position: absolute;
    top: calc(50% + 3px);
    transform: translateY(-50%);
    right: 10%;
    background-image: url(../../assets/icons/flightsmall.svg);
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}



/* stepper form */
.journey_stepper .stepscount {
    font-size: 9px;
    color: #fff;
    font-weight: 600;
    text-align: left;
    line-height: 7px;
    opacity: .7;
}
.stepper_label .MuiStepLabel-label, .stepper_label  .MuiStepLabel-label.Mui-active{
    font-size: 11px;
    color: #fff !important;
    font-weight: 600;
}
.stepper_label .MuiStepLabel-iconContainer .MuiSvgIcon-root{
    font-size: 30px;
}
.stepper_label .MuiStepLabel-iconContainer .MuiSvgIcon-root:not(.Mui-active){
    color: #7194c7;
}
.stepper_label .MuiStepLabel-iconContainer .MuiSvgIcon-root.Mui-active{
    color: #f55a29;
}
.stepper_label .MuiStepLabel-iconContainer .MuiSvgIcon-root.Mui-completed{
    color: #289841;
    background: #fff;
    border-radius: 100px;
}

.bookingStep .buttongroups{
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.stepcontHeader{
    padding: 13px 30px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.stepcontHeader .stitle{
    font-size: 17px;
    font-weight: 500;
}

.stepWrapper .boxcont {
    padding: 16px 25px;
}
.stepWrapper .formtitle {
    margin-bottom: 13px;
}
.stepWrapper .formtitle p {
    font-size: 15px;
    font-weight: 300;
}
.form_item .MuiFormControl-root:not(.width80){
    width: 100%;
}

.addonTab_wrapper{
    border-top: 5px solid #ebecec;
}
.flight_addon_tab .tablistnav:not(.noborder) {
    padding: 10px;
    border-bottom: 1px solid #ebecec;
}
.flight_addon_tab .tablistnav button:not(.MuiButton-contained){
    border: 0;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 4px;
    background-color: #fff;
    border-right: 1px solid #fff;
}
.flight_addon_tab .tablistnav button.Mui-selected{
    background-color: #c3e8f8;
}

.flight_addon_tab .tablistnav:not(.noborder) button:not(.Mui-selected):not(:first-child){
    border-left: 1px solid #ccc;
}
.flight_addon_tab > .TabsUnstyled-root > .TabPanelUnstyled-root{
    padding: 30px 20px;
}
.flight_addon_tab .location_badge{    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #e7e7e7;
    padding: 3px;
    border-radius: 3px;
    font-weight: 500;
}

.flight_addon_tab .location_badge p{
    font-weight: 300;
}
.flight_addon_tab  .date{
    font-size: 11px;
    opacity: .7;
}

/* inner tab  */
.flight_addon_tab .mealstab .tablistnav button{
    width: 100%;
    text-align: left;
    padding: 6px 15px;
    margin-bottom: 10px;
}
.flight_addon_tab .mealstab .tablistnav button:not(.Mui-selected):not(.MuiButton-contained){
    background-color: #efefef;
}

.flight_addon_tab .foodlist .fooditem {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    /* width: 100%; */
    padding: 5px;
    border-radius: 5px;
}
.flight_addon_tab .foodlist .thumbnail {
    width: 60px;
    height: 65px;
    background: #efefef;
}
.flight_addon_tab .foodlist .thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.flight_addon_tab .foodlist .foofname {
    width: 44%;
    padding: 0 20px;
    font-size: 13px;
    height: 42px;
    display: flex;
    align-items: center;
    border-right: 1px solid #dddcdc;
}
.flight_addon_tab .foodlist .fprice {
    font-size: 18px;
    font-weight: 500;
    padding: 0 20px;
    width: 54px;
}
.seats_wrapper .seats_row .MuiCheckbox-root{
    padding:  4px;
}
.flight_addon_tab .seatsbox{
    padding: 20px 30px;
    padding-top: 8rem;
    padding-bottom: 6rem;
    background-image: url(../../assets/food/seatsbg.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 600px;
    align-items: flex-start;
}
.flight_addon_tab .foodlist .fooditem .qtygroup .MuiButtonGroup-grouped{
    min-width: 30px
}
.flight_addon_tab .foodlist .fooditem .qtygroup .MuiOutlinedInput-input{
    padding: 4px;
    font-weight: 500;
    text-align: center;
}
.flight_addon_tab .foodlist .qtygroup .MuiFormControl-root {
    border-radius: 0;
    width: 35px;
}
.flight_addon_tab .foodlist .fooditem .MuiOutlinedInput-notchedOutline{
    border-radius: 0;
}
.flight_addon_tab .foodlist .fooditem button:first-child{
    border-right: 0;
}
.flight_addon_tab .foodlist .fooditem button:last-child{
    border-left: 0;
}
.flight_addon_tab .foodlist .fooditem button{
    border-color: #ccc !important;
    color: #000;
}
.flight_addon_tab .foodlist .fooditem .qtygroup{
    width: 95px;
}


/* seat selection */
.seatsbox .seatno {
    width: 28px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seatsbox .empty {
    width: 25px;
}
.seats_row .MuiCheckbox-root  .complete_icon{
    background: #2f7c31;
    fill: #fff;
}
.seats_row .MuiCheckbox-root svg{
    width: 30px;
    height: 30px;
    border-radius: 4px;
}
.seats_row .MuiCheckbox-root.Mui-disabled svg{
    background: #000;
    fill: #fff;
}
.seats_row .flight_seat_title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 300;
}
.seats_wrapper .seatsinfo .hint .icon {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: #fff;
    border : 1px solid;
}
.seats_wrapper .seatsinfo .hint svg {
    width: 100%;
    height: 100%;
}
.seats_wrapper  .seatsinfo .hint {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 5px;
}
.seats_wrapper .seatsinfo .price_low  .icon{
    border-color: rgb(0, 169, 37);
}
.seats_wrapper .seatsinfo .price_med  .icon{
    border-color: rgb(255, 0, 0);
}
.seats_wrapper .seatsinfo .price_high .icon {
    border-color: rgb(102, 0, 255);
}
.seats_wrapper .seatsinfo .booked .icon {
    background: #000;
    border-color: #000;
    fill: #fff;
}
.seats_wrapper .seatsinfo {
    margin-top: 20px;
}
.seats_wrapper .seatsinfo  .title{
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 12px;
}



/* step 3 review */
.review_step .modal_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    max-width: 900px;
    width: 100%;
}
.review_step button.Mui-selected{
    background-color: #121e40 !important;
    color: #fff;
}




/* passengers list */
.passengers_list  p{
    font-size: 13px;
    font-weight: 500;
}
.passengers_list .tableheader p{
    color: #9b9b9b;
}

.borderbox_item{
    border: 1px dashed #ccc;
    padding: 20px;
    border-radius: 5px;
}
.formcontents p{
    font-size: 13px;
    font-weight: 500;
}


/* joourney detail flights */
.journey_wrapper_review .journey_review{
    width: fit-content;
    background: #e9e9e9;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    color: #444;
    display: flex;
    align-items: center;
    column-gap: 9px;
}

.journey_wrapper_review .journey_review svg{
    color: #808080;
}

.journey_wrapper_review  .time1 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 3px;
}
.journey_wrapper_review  .jplace_text {
    font-size: 13px;
    font-weight: 300;
    color: #727272;
}

.borderbox {
    border: 1px dashed #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}


/* ###### Seat Booking Popup ####### */
.seatpopup_wrapper .MuiDialog-paperWidthXl{
    max-width:  1400px;
}

.seatbooking_popup .ant-row {
    justify-content: center;
}
.seatbooking_popup .ant-row  button {
    margin: 3px;
    color: #fff;
    min-width: 25px;
    max-width: 35px;
    font-size: 12px;
    box-shadow: none;
    border-radius: 6px;
    border: 1px solid;
}

td.p-5 {
    padding: 7px;
}



/* flight map */
.flight_seatmap{
    margin: auto;
    /* background-image: url(../../assets/flight.png); */
    position: relative;
    z-index: 1;
    border-top-left-radius: 115px;
    border-top-right-radius: 115px;
}
.fligh_image_wrap{    
    position: absolute;
    top: 0;
    z-index: 0;
    width: 91%;
    left: 50%;
    transform: translateX(-50%);
}