
body {
  margin: 0;
  font-family: -apple-system, Quicksand, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body .css-ahj2mt-MuiTypography-root, body div,body p, body button {
  font-family: -apple-system, Quicksand, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
   url('./assets/fonts/quicksand/Quicksand-Bold.ttf') format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
   url('./assets/fonts/quicksand/Quicksand-Light.ttf') format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
   url('./assets/fonts/quicksand/Quicksand-Medium.ttf') format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
   url('./assets/fonts/quicksand/Quicksand-Regular.ttf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
   url('./assets/fonts/quicksand/Quicksand-SemiBold.ttf') format("truetype");
  font-weight: 500;
}


body .color_primary{
  background-color: #f55a2a;
  color: #fff;
}
body .color_primary:hover{
  background-color: #f55a2a;
  color: #fff;
}

body .color_secondary{
  background-color: #131e40;
  color: #fff;
}
body .color_secondary:hover{
  background-color: #131e40;
  color: #fff;
}

body .outline_primary{
  border-color: #131e40;
  color: #131e40;
}
body .outline_primary:hover{
  border-color: #131e40;
}
body .color_secondary.Mui-disabled{
  opacity: .4;
  color: #fff;
}
body .btnt_gray {
  color: #868686;
}
body .outline_gray{
  border-color: #868686;
  color: #868686;
}
body .outline_gray:hover{
  border-color: #868686;
  background-color: #efefef;
  color: #868686;
}
/* form styles */
.form-control {
  display: block;
  width: 100%;
  height: 45px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.invalid-feedback {
  font-size: 12px;
  margin-bottom: 10px;
  color: #c00;
}

.flist_drop li:not(:last-child){
  /* border-top: 1px solid #e8e8e8; */
}
.flist_drop  .MuiListItemText-secondary{
  font-size: 13px;
}
.adult_list{
  border: 1px solid #ccc;
  box-shadow: none !important;
  border-radius: 5px !important;
}

.adult_title {
  font-weight: 500;
  text-align: center;
} 


body .dropdown_box{
  box-shadow: 0px 6px 10px 0px #00000017
}

.formpicker{
  
}
