body {
  margin: 0;
  font-family: -apple-system, Quicksand, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body .css-ahj2mt-MuiTypography-root, body div,body p, body button {
  font-family: -apple-system, Quicksand, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
   url('./assets/fonts/quicksand/Quicksand-Bold.ttf') format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
   url('./assets/fonts/quicksand/Quicksand-Light.ttf') format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
   url('./assets/fonts/quicksand/Quicksand-Medium.ttf') format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
   url('./assets/fonts/quicksand/Quicksand-Regular.ttf') format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"),
   url('./assets/fonts/quicksand/Quicksand-SemiBold.ttf') format("truetype");
  font-weight: 500;
}


body .color_primary{
  background-color: #f55a2a;
  color: #fff;
}
body .color_primary:hover{
  background-color: #f55a2a;
  color: #fff;
}

body .color_secondary{
  background-color: #131e40;
  color: #fff;
}
body .color_secondary:hover{
  background-color: #131e40;
  color: #fff;
}
body .color_secondary.Mui-disabled{
  opacity: .4;
  color: #fff;
}